@layout('layouts.main')

@section('title')
JobBored - Dream bigger
@endsection

@section('content')
  <h1>All posts</h1>
  <div class="job-container">
    <div class="blank"></div>
    <div class="job-info">
      <h3>Job Title</h3>
    </div>
