@layout('layout.main')

@section('title')
JobBored - Dream bigger
@endsection

@section('content')
  <h1>All posts</h1>
    <div class="job-container">
      <div class="blank"></div>
      <div class="job-info">
        <h3>Job Title</h3>
        <p>Current job and job you want</p>
      </div>
    </div>
@endsection
