<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  {{ style('style') }}

  @!section('extracss')

  <title>
    @!section('title')
  </title>
</head>
<body>
  <section>
    <div class="title">Main</div>
  </section>
</body>
<
