@layout('layouts.main')

@section('title')
JobBored - Edit your Job
@endsection

@section('extracss')
{{ style('forms') }}
@endsection

@section('content')

<div class="job-container">
  @if(flashMessage('message'))
    <span>{{ flashMessage('message') }}</span>  
  @endif



</div>









@endsection






